.percent100 {
    background-color: green;
    color: white;
}

.percent75 {
    background-color: yellow;
}
.percent50 {
    background-color: orange;
}

.percent25 {
    background-color: red;
}

.percent0 {
    background-color: black;
    color: white;
}