// Primary colours
$primary : #097567;
$primary-dark : #086358;
$primary-darker : #065248;
$primary-darkest : #053b34;
$primary-light : #3a9185;
$primary-lighter : #84bab3;
$primary-lightest : #cee3e1;

// Secondary colours
$secondary : #0070b3;
$secondary-dark : #005f98;
$secondary-darker : #004e7d;
$secondary-darkest : #00385a;
$secondary-light : #338dc2;
$secondary-lighter : #80b8d9;
$secondary-lightest : #cce2f0;

// Success colors
$success : #84bf24;
$success-dark : #70a21f;
$success-darker : #5c8619;
$success-darkest : #426012;
$success-light : #9dcc50;
$success-lighter : #c2df92;
$success-lightest : #e6f2d3;

// Warning colours
$warning : #ea890a;
$warning-dark : #c77409;
$warning-darker : #a46007;
$warning-darkest : #754505;
$warning-light : #eea13b;
$warning-lighter : #f5c485;
$warning-lightest : #fbe7ce;

// Error colours
$error : #b10f1e;
$error-dark : #960c1a;
$error-darker : #7c0a15;
$error-darkest : #59070f;
$error-light : #c13e4b;
$error-lighter : #d8878f;
$error-lightest : #efcfd2;

// Interface colours
$text-colour : #0b0c0c;
$form-hint-color : #6f777b;
$link-colour : #006ea5;
$link-hover-colour : #2b8cc4;
$focus-colour : #ffbf47;
$visited-colour : #4c2c92;
$black : #0b0c0c;
$grey-1 : #6f777b;
$grey-2 : #bfc1c3;
$grey-3 : #dee0e2;
$grey-4 : #f4f4f4;

// Status colours
$alpha : #d54780;
$beta : #f47a40;
$discovery : #913a87;
$live : #85964e;
$gov-uk-blue : #005ea5;

// Accent colours
$mellow-red : #df3034;
$mauve : #6f71af;
$baby-pink : #f499be;
$green : #006435;
$light-blue : #2b8cc4;
$brown : #b58840;